html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #101215;
}

#app {
  width: 100%;
  height: 100%;
}

.local-loader-input {
  display: none;
}

.playground-stats {
  position: fixed !important;
  right: 16px !important;
  bottom: 16px !important;
  left: auto !important;
  top: auto !important;
  z-index: 20;
}
